<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.winter.app.members.MemberDAO">
  	<insert id="join" parameterType="MemberDTO">
  		INSERT INTO USERS(ID, PHONE, PW, NAME, SS_NUM, EMAIL )
  		VALUES (#{id}, #{phone}, #{pw}, #{name}, #{ss_num}, #{email})
  	</insert>
  	
  	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
  	
  		SELECT * FROM USERS WHERE ID=#{id}
  	
  	</select>
  	
  	<select id="mypage" parameterType="MemberDTO" resultType="MemberDTO">
  	
  		SELECT * FROM USERS
  	
  	</select>
  	
  	<select id="update" parameterType="MemberDTO">
  	
  		UPDATE USERS SET 
  		ID=#{id}, PHONE=#{phone}, PW=#{pw}, NAME=#{name}, SS_NUM=#{ss_num},EMAIL= #{email}
  		WHERE ID=#{id}
  	
  	</select>
  	
  </mapper>