<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.winter.spring.product.ProductDAO">
  		<!-- >>> namespace는 중복되면 안됨.클래스명은 중복될 수 있으니까 패키지명으로 작성함 -->
  		
  		<select id="getList" resultType="com.winter.spring.product.ProductDTO">
  			SELECT * FROM PRODUCTS
  			<!-- 세미콜론 찍지말기! 오류뜬다 -->
  		</select>
  		
  		<select id="getDetail" resultType="com.winter.spring.product.ProductDTO" parameterType="com.winter.spring.product.ProductDTO">
  			SELECT * FROM PRODUCTS WHERE P_CODE = #{p_code}
  		</select>
  		
  		
  </mapper>